<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0">
      <%= image_pack_tag 'media/images/tts-logo.png', class: "img-fluid float-start" %>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
<% if admin_signed_in? %>
    <%= link_to 'Log Off', destroy_admin_session_path, :method => :delete, :class => "nav-link" %>
<% else %>
    <%= link_to 'Log On', new_admin_session_path %> или <%= link_to 'Sign Up', new_admin_registration_path %>
<% end %>
<%= link_to 'File Management', file_management_index_path, :class => "nav-link" %>
        </li>
      </ul>
</nav>

<%= simple_form_for :user, html: { method: :post, id: :form }, :remote => true do |f| %>
 <%= f.error_notification %>

 <div class="form-check form-switch mb-3">
  <%= f.check_box :translate, name: "translate", id: "translate", class: "form-check-input" %>
  <%= f.label :name, label: "Google Translate?", required: false %>
</div>

<div class="form-check form-switch mb-3">
  <%= f.check_box :save_to_storage, name: "storage", id: "storage", class: "form-check-input" %>
  <%= f.label :name, label: "Save this audio file to storage?", required: false %>
</div>

  <%= f.input :title, placeholder: "Enter title of sound file: ", :as => :string, input_html: { :style=> 'width: 70%;', id: "body-field-title", name: "title", include_blank: false, required: true} %>
  <%= f.input :request, placeholder: "Enter your text: ", :as => :text, input_html: { :style=> 'width: 70%;', :rows => 8, id: "body-field", name: "request", include_blank: false, required: true} %>

<span id="body-count">0 characters</span>
<div class="chained-selects p-3">
   <select required id="select-1" name="lang">
      <option value="" selected>Choose language/locale</option>
      <option value="da-DK">Dansk (Danmark)</option>
      <option value="de-DE">Deutsch (Deutschland)</option>
      <option value="en-AU">English (Australia)</option>
      <option value="en-GB">English (Great Britain)</option>
      <option value="en-IN">English (India)</option>
      <option value="en-US">English (United States)</option>
      <option value="es-ES">Español (España)</option>
      <option value="fr-CA">Français (Canada)</option>
      <option value="fr-FR">Français (France)</option>
      <option value="it-IT">Italiano (Italia)</option>
      <option value="nl-NL">Nederlands (Nederland)</option>
      <option value="pl-PL">Polski (Polska)</option>
      <option value="pt-BR">Português (Brasil)</option>
      <option value="pt-PT">Português (Portugal)</option>
      <option value="fi-FI">Suomi (Suomi)</option>
      <option value="el-GR">Ελληνικά (Ελλάδα)</option>
      <option value="ru-RU">Русский (Россия)</option>
      <option value="uk-UA">Українська (Україна)</option>
   </select>
   <select required id="select-2" disabled>
      <option value="" selected>Choose voice type</option>
   </select>
   <select required id="select-3" name="voicename" disabled>
      <option value="" selected>Choose voice name</option>
   </select>
</div>

<div class="row mb-3 input-group">
    <label class="col-sm-3 col-form-label pt-0">Audio Output Format</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="codec" id="MP3" value="MP3" checked="checked">
        <label class="form-check-label" for="MP3">MP3</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="codec" id="WAV" value="LINEAR16">
        <label class="form-check-label" for="WAV">WAV</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="codec" id="OGG_OPUS" value="OGG_OPUS">
        <label class="form-check-label" for="OGG_OPUS">OGG</label>
      </div>
   </div>
</div>

<div class="row mb-3 input-group">
    <label class="col-sm-3 col-form-label pt-0">Text or SSML?</label>
    <div class="col-sm-9">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="text_or_ssml" id="text" value="text" checked="checked">
        <label class="form-check-label" for="MP3">TEXT</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="text_or_ssml" id="ssml" value="ssml">
        <label class="form-check-label" for="WAV">SSML</label>
      </div>
   </div>
</div>

<div class="dropdown input-group">
      <label class="col-sm-3 col-form-label pt-0">Speaking Rate</label>
      <%= speaking_rate %>
</div>
   <%= f.button :submit, 'Submit', class: "btn btn-outline-primary m-3" %>
   <% end %>
</form>

<%= javascript_pack_tag 'counter' %>
<%= javascript_pack_tag 'chained' %> 
