<h2>Change your password</h2>
<div class="row g-3 align-items-center">
  <div class="col-auto">
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), 
    html: { method: :put }) do |f| %>
      <%= f.error_notification %>
        <%= f.input :reset_password_token, as: :hidden %>
          <%= f.full_error :reset_password_token %>
            <%= f.input :password,
                label: "New password",
                required: true,
                autofocus: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", class: "form-control" } %>
              <%= f.input :password_confirmation,
                label: "Confirm your new password",
                required: true,
                input_html: { autocomplete: "new-password", class: "form-control" } %>
                <div class="form-actions">
                  <%= f.button :submit, "Change my password" %>
                </div>
                <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
