<nav class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0">
    <%= image_pack_tag 'media/images/tts-logo.png', class: "img-fluid float-start" %>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <% if admin_signed_in? %>
                    <%= link_to 'Log Off', destroy_admin_session_path, :method => :delete, :class => "nav-link" %>
                <% else %>
                    <%= link_to 'Log On', new_admin_session_path %> or
                    <%= link_to 'Sign Up', new_admin_registration_path %>
                <% end %>
                    <%= link_to 'Main', conversion_index_path, :class => "nav-link" %>
            </li>
        </ul>
</nav>

<h1>File Management</h1>
<p>Download and deleting audio files.</p>
<table class="table table-striped table-bordered table-condensed table-hover text-center">
    <thead>
        <tr>
            <th>AudioFile</th>
            <th>Listen</th>
            <th>Time Of Creation</th>
            <th>Clear</th>
        </tr>
    </thead>
    <tbody>
        <% @admin.files.order(created_at: :desc).each do |x| %>
            <tr>
                <td>
                    <%= download(x) %>
                </td>
                <td>
                    <audio controls>
                        <source src="<%= path_to_file(x) %>">
                        <p>Your browser does not support the audio element.</p>
                    </audio>
                </td>
                <td>
                    <%= creation_time(x) %>
                </td>
                <td>
                    <%= delete_file(x) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>