<span class="badge bg-primary"><%= date %></span>
  <div class="card mx-3 mt-n5 shadow-lg" style="border-radius: 10px; border-left:8px #ccc solid; border-right: none; border-top:none; border-bottom:none">
    <h2 class="card-header">Google Cloud Text to Speech onRails Pro</h2>
    <div class="card-body">
      <%= image_pack_tag 'media/images/morning_for_linuxman.jpg', class: "img-fluid float-end" %>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email", class: "form-control" } %>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password", class: "form-control" } %>
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>
          </div>
        </div>
        <%= f.button :submit, "Log in", class: "btn btn-outline-primary" %>
          <% end %>
          <div class="mt-3" >
          <%= render "devise/shared/links" %>
          </div>
    </div>
  </div>
